<%- include("./partials/header") %>
<head>
    <title>Post</title>
</head>
<body>
    <h2>Title : <%= post.title %></h2>
    <h4><%= post.content %></h4>
    <%- include("./partials/footer") %>
</body>
</html>